<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>LogHandler</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Acceuil </a>
      <a mat-button [routerLink]="'/dashbord'"> Tableau de bord</a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>