.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

table{
  width: 100%;
}

.mat-elevation-z8{
  width: 100%;
  margin-bottom: 40px;
}

.title-zone{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

.mess{
  max-width: 300px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin:30px;
}