<div class="content" role="main">

    <h1 class="title-zone">Niveaux d'alertes - repartition</h1>

    <div class="mat-elevation-z8">
        <div>
          <div class="chart">
            <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
    </div>

    <br>

    <h1 class="title-zone">Liste des alertes</h1>

    <div class="mat-elevation-z8">
        <!--<mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
        <br>-->

        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- level Column -->
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveau </th>
            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
          </ng-container>
    
          <!-- Message Column -->
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
            <td mat-cell *matCellDef="let element" class="mess"> {{element.message}} </td>
          </ng-container>
      
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
      
          <!-- File Column -->
          <ng-container matColumnDef="file">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fichier Log </th>
            <td mat-cell *matCellDef="let element"> {{element.file}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Server Column -->
          <ng-container matColumnDef="server">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Serveur </th>
            <td mat-cell *matCellDef="let element"> {{element.server}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</div>